@inject TechStoreWebApp.IUserManager UserManager
@using System.Security.Claims

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">TechStore</h1>
    </div>
    <p></p>
    <div>
        <span class="">DEBUG</span>
    </div>
    <div class="">
        <span class="">User.Identity.IsAuthenticated:</span> @User.Identity.IsAuthenticated
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="">
            <span class="">UserManager.GetCurrentUser(this.Context).Name:</span> @UserManager.GetCurrentUser(this.Context).FirstName
        </div>
        <div class="">
            <span class="">User.HasClaim(ClaimTypes.Role, "Administrator"):</span> @User.HasClaim(ClaimTypes.Role, "Administrator")
        </div>
        <div class="">
            <span class="">User.HasClaim("Permission", "DoEverything"):</span> @User.HasClaim("Permission", "DoEverything")
        </div>
    }
</div>

<style scoped>
   
</style>