@inject TechStoreWebApp.IUserManager UserManager
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechStoreWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*Google Fonts*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    @*Font Awesome*@
    <script src="https://kit.fontawesome.com/9a4c925921.js" crossorigin="anonymous"></script>
    @*Material Icons*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*w3.js*@
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @*Logo*@
            <a class="navbar-brand p-3" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="p-3 mr-1 bg-dark text-light">
                    <i class="fas fa-lira-sign"></i>
                    <i class="fab fa-stripe-s"></i>
                </span> TechStore
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (@User.HasClaim(ClaimTypes.Role, "Administrator"))
                    {
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    Admin Panel
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item bg-danger text-light" asp-controller="AdminPanel" asp-action="Index">Panel</a>
                                    <a class="dropdown-item" asp-controller="AdminPanel" asp-action="products">Products</a>
                                    <a class="dropdown-item" asp-controller="AdminPanel" asp-action="brands">Brands</a>
                                    <vc:></vc:>
                                    @*<a class="dropdown-item" asp-controller="AdminPanel" asp-action="Users">Users</a>            *@
                                    @*<a class="dropdown-item" asp-controller="AdminPanel" asp-action="Roles">Roles</a>            *@
                                    @*<a class="dropdown-item" asp-controller="AdminPanel" asp-action="Permissions">Permissions</a>*@
                                    @*<a class="dropdown-item" asp-controller="AdminPanel" asp-action="Credentials">Credentials</a>*@
                                </div>
                            </div>
                            <a class="nav-link text-dark" asp-area="" asp-controller="AdminPanel" asp-action="Index">
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-success text-light" asp-area="" asp-controller="Authentication" asp-action="Index">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>Giriş Yap</span>
                            </a>
                        }
                        else
                        {
                            <form class="form-group ml-2" method="post">
                                <button class="btn btn-primary text-light" type="submit" asp-controller="Authentication" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span> Çıkış Yap</span>
                                </button>
                            </form>
                        }

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - TechStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
