@using System.Security.Claims

@{
    ViewData["Title"] = "Düzenle";
}
@if (!@User.HasClaim(ClaimTypes.Role, "Administrator"))
{
    <h1>403 Forbidden!</h1>
    <h4 class="alert alert-danger">Bu alana erişim yetkiniz yok!</h4>
    return;
}

<div class="container">
    <form class="form-group" method="post" asp-controller="AdminPanel" asp-action="products/edit/{id}">
    </form>
</div>
